<!-- banner -->
<div class="banner_top innerpage" id="home">
  <div class="wrapper_top_w3layouts">
    <div class="header_agileits">
      <div class="logo inner_page_log">
        <h1>
          <a class="navbar-brand" href="index.html">
            <span>Downy</span>
            <i>Shoes</i>
          </a>
        </h1>
      </div>
      <div class="overlay overlay-contentpush">
        <button id="btnSidebarClose" type="button" class="overlay-close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>

        <nav>
          <ul>
            <li>
              <a href="index.html" class="active">Home</a>
            </li>
            <li>
              <a href="/profile">Profile</a>
            </li>
            <li>
              <a style="cursor: pointer;" data-toggle="modal" data-target="#loginModal" (click)="closeSidebar();">Login</a>
            </li>
            <li>
              <a href="/cat">Categories</a>
            </li>
            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="mobile-nav-button">
        <button id="trigger-overlay" type="button">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
      </div>
      <!-- cart details -->
      <div class="top_nav_right">
        <div class="shoecart shoecart2 cart cart box_1">
          <form action="#" method="post" class="last">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="display" value="1">
            <button class="top_shoe_cart" type="submit" name="submit" value="">
              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- //cart details -->
  <!-- search -->
  <div class="search_w3ls_agileinfo">
    <div class="cd-main-header">
      <ul class="cd-header-buttons">
        <li>
          <a class="cd-search-trigger" href="#cd-search">
            <span></span>
          </a>
        </li>
      </ul>
    </div>
    <div id="cd-search" class="cd-search">
      <form action="#" method="post">
        <input name="Search" type="search" placeholder="Click enter after typing...">
      </form>
    </div>
  </div>
  <!-- //search -->
  <div class="clearfix"></div>
  <!-- /banner_inner -->
  <div class="services-breadcrumb_w3ls_agileinfo">
    <div class="inner_breadcrumb_agileits_w3">

      <ul class="short">
        <li>
          <a href="index.html">Home</a>
          <i>|</i>
        </li>
        <li>Shop</li>
      </ul>
    </div>
  </div>
  <!-- //banner_inner -->
</div>
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button id="btnCloseLogin" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="exampleModalLongTitle">Login</h4>
      </div>
      <form role="form" #frm1="ngForm">
        <div class="modal-body" style="background-image: url('../../assets/images/LoginBack1.png');  background-repeat: no-repeat;">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-2">
              &nbsp;
            </div>
            <div class="col-md-7 col-sm-7 col-xs-9" style="background-color: #fff; padding: 10px; margin:40px 0px !important; border-radius: 5px 5px 5px 5px;">
              <div style="opacity: 1;">
                <div class="form-group">
                  <label class="control-label">Username</label>
                  <input type="text" class="form-control" ngModel #txtUsername="ngModel" name="txtUsername" id="txtUsername" required>
                </div>
                <div class="form-group">
                  <label class="control-label">Password</label>
                  <input type="password" class="form-control" ngModel #txtPassword="ngModel" name="txtPassword" id="txtPassword" required>
                </div>
                <div class="form-group">
                  <a>
                    <label style="cursor: pointer;" data-toggle="modal" data-target="#forgotPasswordModal" class="control-label" (click)="closeLoginModal();">Forgot Password?</label>
                  </a> |
                  <a>
                    <label style="cursor: pointer;" data-toggle="modal" data-target="#registerModal" class="control-label" (click)="closeLoginModal();">Register now</label>
                  </a>
                </div>
              </div>
              <div *ngIf="txtUsername.touched || txtPassword.touched">
                <div *ngIf="txtUsername.errors?.required && txtUsername.touched">
                  <span class="text-danger">Username is required</span>
                </div>
                <div *ngIf="txtUsername.errors?.pattern && txtUsername.touched">
                  <span class="text-danger">Username is Invalid</span>
                </div>
                <div *ngIf="txtPassword.errors?.required && txtPassword.touched">
                  <span class="text-danger">Password is required</span>
                </div>
                <div *ngIf="txtPassword.errors?.pattern && txtPassword.touched">
                  <span class="text-danger">Password is Invalid</span>
                </div>
                <div id="alertDivLogin">
                  <span *ngIf="errorMessage !== null" class="text-danger">{{errorMessage}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" [disabled]="frm1.invalid" (click)="checkLogin(txtUsername.value,txtPassword.value);">Login</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="exampleModalLongTitle">Forgot Password</h4>
      </div>
      <form role="form" #frm3="ngForm">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Username</label>
            <input type="text" class="form-control" required ngModel #txtUsername1="ngModel" name="txtUsername1" id="txtUsername1">
          </div>
          <div *ngIf="txtUsername1.touched">
            <div *ngIf="txtUsername1.errors?.required && txtUsername1.touched">
              <span class="text-danger">Username is required</span>
            </div>
            <div *ngIf="txtUsername1.errors?.pattern && txtUsername1.touched">
              <span class="text-danger">Username is Invalid</span>
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" [disabled]="frm3.invalid">Send reset link</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="exampleModalLongTitle">Sign up</h4>
      </div>
      <form role="form" #frm="ngForm">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" class="form-control" ngModel #txtName="ngModel" name="txtName" id="txtName" required pattern="[a-zA-Z ]*">
          </div>
          <div class="form-group">
            <label class="control-label">Email</label>
            <input type="text" class="form-control" id="txtEmail" ngModel name="txtEmail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              #txtEmail="ngModel">
          </div>
          <div class="form-group">
            <label class="control-label">Password</label>
            <input type="passport" class="form-control" ngModel id="txtPassword1" name="txtPassword1" #txtPassword1="ngModel" required>
          </div>
          <div class="form-group">
            <label class="control-label">Gender</label>
            <br>
            <input type="radio" value="male" name="gender" ngModel required #gender="ngModel"> Male
            <input type="radio" value="female" name="gender" ngModel required #gender="ngModel"> Female
            <input type="radio" value="transgender" name="gender" ngModel required #gender="ngModel"> Transgender
          </div>
          <div class="form-group">
            <label class="control-label">Phone Number</label>
            <input type="text" class="form-control" id="txtContact" name="txtContact" #txtContact="ngModel" placeholder="Contact Number"
              required pattern="[0-9]{10}" ngModel>
          </div>
          <div *ngIf="txtName.touched || txtContact.touched || txtEmail.touched || txtPassword1.touched || gender.touched">
            <div *ngIf="txtName.errors?.required && txtName.touched">
              <span class="text-danger">Name is required</span>
            </div>
            <div *ngIf="txtName.errors?.pattern && txtName.touched">
              <span class="text-danger">Name is Invalid</span>
            </div>
            <div *ngIf="txtEmail.errors?.required && txtEmail.touched">
              <span class="text-danger">Email is required</span>
            </div>
            <div *ngIf="txtEmail.errors?.pattern && txtEmail.touched">
              <span class="text-danger">Email is Invalid</span>
            </div>
            <div *ngIf="txtPassword1.errors?.required && txtPassword1.touched">
              <span class="text-danger">Password is required</span>
            </div>
            <div *ngIf="gender.invalid && gender.touched">
              <span class="text-danger">Gender is required</span>
            </div>
            <div *ngIf="txtContact.errors?.required && txtContact.touched">
              <span class="text-danger">Phone no is required</span>
            </div>
            <div *ngIf="txtContact.errors?.pattern && txtContact.touched">
              <span class="text-danger">Phone is Invalid</span>
            </div>
            <div id="alertDivRegS">
              <span *ngIf="successMessage !== null" class="text-success">{{successMessage}}</span>
            </div>
            <div id="alertDivReg">
              <span *ngIf="errorMessage !== null" class="text-success">{{errorMessage}}</span>
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#alertModal" [disabled]="frm.invalid">Sign up</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="alertModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Verify your Email &nbsp;
          <i class="fa fa-check-circle"></i>
        </h4>
      </div>
      <div class="modal-body">
        <p>Verification link send to your Email</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
