<!-- banner -->
<div class="banner_top innerpage" id="home">
  <div class="wrapper_top_w3layouts">
    <div class="header_agileits">
      <div class="logo inner_page_log">
        <h1>
          <a class="navbar-brand" href="index.html">
            <span>Downy</span>
            <i>Shoes</i>
          </a>
        </h1>
      </div>
      <div class="overlay overlay-contentpush">
        <button id="btnSidebarClose" type="button" class="overlay-close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>

        <nav>
          <ul>
            <li>
              <a href="index.html" class="active">Home</a>
            </li>
            <li>
              <a href="about.html">About</a>
            </li>
            <li>
              <a style="cursor: pointer;" data-toggle="modal" data-target="#loginModal" (click)="closeSidebar();">Login</a>
            </li>
            <li>
              <a href="shop.html">Shop Now</a>
            </li>
            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="mobile-nav-button">
        <button id="trigger-overlay" type="button">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
      </div>
      <!-- cart details -->
      <div class="top_nav_right">
        <div class="shoecart shoecart2 cart cart box_1">
          <form action="#" method="post" class="last">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="display" value="1">
            <button class="top_shoe_cart" type="submit" name="submit" value="">
              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- //cart details -->
  <!-- search -->
  <div class="search_w3ls_agileinfo">
    <div class="cd-main-header">
      <ul class="cd-header-buttons">
        <li>
          <a class="cd-search-trigger" href="#cd-search">
            <span></span>
          </a>
        </li>
      </ul>
    </div>
    <div id="cd-search" class="cd-search">
      <form action="#" method="post">
        <input name="Search" type="search" placeholder="Click enter after typing...">
      </form>
    </div>
  </div>
  <!-- //search -->
  <div class="clearfix"></div>
  <!-- /banner_inner -->
  <div class="services-breadcrumb_w3ls_agileinfo">
    <div class="inner_breadcrumb_agileits_w3">

      <ul class="short">
        <li>
          <a href="index.html">Home</a>
          <i>|</i>
        </li>
        <li>Shop</li>
      </ul>
    </div>
  </div>
  <!-- //banner_inner -->
</div>
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button id="btnCloseLogin" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="exampleModalLongTitle">Login</h4>
      </div>
      <div class="modal-body" style="background-image: url('../../assets/images/LoginBack1.png');  background-repeat: no-repeat;">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-2">
            &nbsp;
          </div>
          <div class="col-md-7 col-sm-7 col-xs-9" style="background-color: #fff; padding: 10px; border-radius: 5px 5px 5px 5px;">
            <div style="opacity: 1;">
              <div class="form-group">
                <label class="control-label">Username</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" class="form-control">
              </div>
              <div class="form-group">
                <a href="#">
                  <label style="cursor: pointer;" data-toggle="modal" data-target="#forgotPasswordModal" class="control-label" (click)="closeLoginModal();">Forgot Password?</label>
                </a> |
                <a href="#">
                  <label>Register now</label>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Login</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="exampleModalLongTitle">Forgot Password</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label">Username</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Send reset link</button>
      </div>
    </div>
  </div>
</div>
