<app-header></app-header>
<div class="ads-grid_shop">
  <div class="shop_inner_inf">
    <h3 class="head">Order Details</h3>
    <br>
    <br>
    <div class="row">
      <h6 class="text-center">Order On: {{ order.DelieveryDate }} | Order Id: {{ order.OrderDetailID }}</h6>
      <br>
      <div class="row">
        <div style="border: 1px;" class="well col-md-offset-2 col-md-8">

          <table>
            <tr>
              <th>Shipping address</th>

              <th>Payment method</th>

              <th>Order Summary</th>
            </tr>
            <tr>
              <td style="width: 45%;">
                {{ order.AddressName }}
                <br> {{ order.Address }}
                <br> {{ order.Locality }}
                <br> {{ order.City }}
                <br> {{ order.State }}
                <br> {{ order.Country }}
                <br> {{ order.Pincode }}
              </td>
              <td style="width: 30%;">COD</td>

              <td style="width: 35%;">
                <h6> Price:{{ order.Price }} </h6>
                <h6> Final Price:{{ order.FinalPrice }} </h6>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-offset-2 col-md-8" style="padding: 20px; border: 1px solid #e3e3e3;border-radius: 4px;">
          <h4>
            <b> Delivered 25-Jan-2018</b>
          </h4>
          <br>
          <h6>Package was handed directly to the customer.</h6>
          <h6>The delivery receipt was signed by Dharmendrabhai R. Patel, GST IN-24AMDPP8371J1ZP.
          </h6>
          <br>
          <table>
            <tr>
              <td style="width: 20%;">
                <img src="{{env}}/assets/ProductImages/{{ order.Image }}" style="height: 150px; width: 150px;">
              </td>
              <td style="width: 70%;">{{ order.ProductName }}
                <br>sold by: {{ order.SellerName }}
                <br>{{ order.FinalPrice }}</td>
              <td style="width: 10%;">
                <button class="btn btn-default">Write product review</button>
              </td>
            </tr>
          </table>
        </div>

      </div>
    </div>
      <ul class="timeline">
        <li [ngClass]="{'timeline-inverted' : (item.No%2==0) }" *ngFor="let item of trackingData;">
          <div class="timeline-badge">
            <i *ngIf="item.Status === 'Pending'" class="fa fa-stopwatch"></i>
            <i *ngIf="item.Status === 'Confirmed'" class="fa fa-thumbs-up"></i>
            <i *ngIf="item.Status === 'Shipped'" class="fa fa-truck-loading"></i>
            <i *ngIf="item.Status === 'Delievered'" class="fa fa-home"></i>
            <i *ngIf="item.Status === 'Transist'" class="fa fa-truck"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{item.Text}}</h4>
              <br>
              <p>
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i> Arrival Time: {{item.ArrivedTime}}</small>
              </p>
              <p>
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i> Departure Time: {{item.DispatchedTime}}</small>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
<app-footer></app-footer>
