<app-header></app-header>

	<!-- top Products -->
	<div class="ads-grid_shop">
		<div class="shop_inner_inf">
			<h3 class="head">Contact Us</h3>
			<div class="inner_section_w3ls">
				<div class="col-md-7 contact_grid_right">
					<form role="form" #frm="ngForm">
						<div class="col-md-6 col-sm-6 contact_left_grid">
							<input type="text" name="txtName" placeholder="Name" required #txtName="ngModel" ngModel pattern="[a-zA-Z ]*">
						</div>
						<div class="col-md-6 col-sm-6 contact_left_grid">
							<input type="text" name="Email" placeholder="Email" required #txtEmail="ngModel" ngModel pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            </div>
						<div class="clearfix"> </div>
            <textarea name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required #txtMessage="ngModel" ngModel>Message...</textarea>
						<button type="submit" class="btn col-md-6" style="background-color: black; color: white; height:50px;padding: 15px 15px;width: 46%;" [disabled]="frm.invalid " (click)="sendFeedback(txtName.value,txtEmail.value, txtMessage.value)">Submit</button>
            <button type="reset" class="btn col-md-6" style="background-color: black; color: white; height:50px;padding: 15px 15px;width: 46%;margin-left: 60px;">Clear</button>
            <div *ngIf="txtName.touched || txtEmail.touched || txtMessage.touched">
                <div *ngIf="txtName.errors?.required && txtName.touched">
                    <span class="text-danger">Name is required</span>
                  </div>
                  <div *ngIf="txtName.errors?.pattern && txtName.touched">
                    <span class="text-danger">Name is Invalid</span>
                </div>
                <div *ngIf="txtEmail.errors?.required && txtEmail.touched">
                    <span class="text-danger">Email is required</span>
                  </div>
                  <div *ngIf="txtEmail.errors?.pattern && txtEmail.touched">
                    <span class="text-danger">Email is Invalid</span>
                </div>
                <div *ngIf="txtMessage.errors?.required && txtMessage.touched">
                    <span class="text-danger">Message is required</span>
                  </div>
            </div>
					</form>
				</div>
				<div class="col-md-5 contact-left">
					<h6>Contact Info</h6>
					<div class="visit">
						<!-- <div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
							<span class="fa fa-home" aria-hidden="true"></span>
						</div> -->
						<!-- <div class="col-md-10 col-sm-10 col-xs-10 contact-text">
							<h4>Visit us</h4>
							<p>Parma Via Modena,BO, Italy</p>
						</div> -->
						<div class="clearfix"></div>
					</div>
					<div class="mail-us">
						<div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
							<span class="fa fa-envelope" aria-hidden="true"></span>
						</div>
						<div class="col-md-10 col-sm-10 col-xs-10 contact-text">
							<h4>Mail us</h4>
							<p><a href="mailto:info@example.com">{{ webInfo.Email }}</a></p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="call">
						<div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
							<span class="fa fa-phone" aria-hidden="true"></span>
						</div>
						<div class="col-md-10 col-sm-10 col-xs-10 contact-text">
							<h4>Call us</h4>
							<p>{{ webInfo.PhoneNo }}</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="visit">
						<!-- <div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
							<span class="fa fa-fax" aria-hidden="true"></span>
						</div> -->
						<!-- <div class="col-md-10 col-sm-10 col-xs-10 contact-text">
							<h4>Fax</h4>
							<p>+1804426349</p>
						</div> -->
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"> </div>

			</div>

			<div class="clearfix"></div>

		</div>
	</div>

  <app-footer></app-footer>
