<app-header></app-header>

<div class="ads-grid_shop">
  <div class="shop_inner_inf">
    <h3 class="head">Profile</h3>
    <p class="head_para">Add Some Description</p>
    <div class="row profile-row">
      <div class="col-lg-3 col-md-4 col-sm-8 col-xs-12 profile-intro-imagebox">
        <img *ngIf="urls === null" class="img-responsive profile-image" width="200" height="200" src="{{env}}Assets/UserImages/{{userData['ProfileImage']}}">
        <img *ngIf="urls !== null" class="img-responsive profile-image" width="200" height="200" src="{{urls}}">
      </div>
      <div class="col-lg-6 col-md-8 col-sm-8 col-xs-12 profile-intro-textbox">
        <div class="form-group">
          <label class="control-label lead text-title">
            <h3>Name: </h3>
          </label>&nbsp;
          <label class="lead text-value">
            <h3>{{userData['Name']}}</h3>
          </label>
        </div>
        <div class="form-group">
          <label class="control-label lead text-title">
            <h3>Gender: </h3>
          </label>&nbsp;
          <label class="lead text-value">
            <h3 *ngIf="userData['Gender'] === 'M'">Male</h3>
            <h3 *ngIf="userData['Gender'] === 'F'">Female</h3>
          </label>
        </div>
        <div class="form-group">
          <label class="control-label lead text-title">
            <h3>Email: </h3>
          </label>&nbsp;
          <label class="lead text-value">
            <h3>{{userData['Email']}}</h3>
          </label>
        </div>
        <div class="form-group">
          <label class="control-label lead text-title">
            <h3>Phone No: </h3>
          </label>&nbsp;
          <label class="lead text-value">
            <h3>{{userData['PhoneNO']}}</h3>
          </label>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-4 col-xs-12 profile-intro-buttonbox">
        <div class="form-group col-lg-12">
          <a routerLink="/editProfile" [queryParams]="{id: userData['UserID']}" class="btn btn-info">
            Edit Profile
          </a>
        </div>
        <div class="form-group col-lg-12">
          <button class="btn btn-warning">
            Change Password
          </button>
        </div>
        <div class="form-group col-lg-12">
          <label for="profileImage" class="btn btn-primary custom-file-upload">
            Change Image
          </label>
          <input (change)="imagePreview($event)" id="profileImage" type="file" />
        </div>
        <div class="form-group col-lg-12">
          <button class="btn btn-danger" (click)="removeUserImage();">
            Remove Image
          </button>
        </div>
      </div>
    </div>
    <div class="row profile-row">
      <div class="profile-intro-imagebox">
        <h2>Your Addresses</h2>
        <div class="row">
          <div *ngFor="let addr of addressData" class="address-box col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="address-content">
              <div class="form-group">
                <label>{{addr['AddressName']}}</label>
              </div>
              <div class="form-group">
                <span *ngFor="let saddr of addr['Address']">
                  {{saddr}}
                  <br>
                </span>
                <span>
                  {{addr['City']}} - {{addr['Pincode']}}
                </span>
                <br>
                <span>
                  {{addr['State']}}
                </span>
              </div>
              <div class="form-group">
                <label>{{addr['AddressPhoneNo']}}</label>
              </div>
            </div>
          </div>
          <div class="address-box col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="address-content" routerLink="/address" style="cursor: pointer; display: flex; justify-content: center; align-items: center;">
              <span class="fa fa-5x fa-plus-square" style="color:lightblue;"></span>
            </div>
          </div>
        </div>
        <div class="text-right"><a routerLink="/alladdresses" class="btn btn-info">View All</a></div>
      </div>
    </div>

    <div class="row profile-row">
      <div class="profile-intro-imagebox">
        <h2>Your Orders</h2>
        <div class="row">
          <div *ngFor="let order of userOrdersData" class="address-box col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="address-content row text-center">
              <div class="form-group text-center">
                <img height="100" width="100" src="{{env}}Assets/ProductImages/{{order.Image}}">
              </div>
              <div class="form-group">
                <label>{{order.ProductName}}</label>
                <br>
                <label>&#8377; {{order.FinalPrice}}</label>
                <br>
                <label>Quantity: {{order.Qty}}</label>
                <br>
                <label>{{order.OrderDate}}</label>
              </div>
            </div>
          </div>
          <div class="address-box col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="address-content" routerLink="/order" style="cursor: pointer; display: flex; justify-content: center; align-items: center;">
              <span class="fa fa-5x fa-th-list" style="color:lightblue;"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
