<app-header></app-header>



<!-- //banner -->
<!-- top Products -->
<div class="ads-grid_shop">
  <div class="shop_inner_inf">
    <!-- tittle heading -->

    <!-- //tittle heading -->
    <!-- product left -->
    <div class="side-bar col-md-3">
      <form method="post" #filterForm="ngForm">
        <div class="search-hotel">
          <h3 class="agileits-sear-head">Search Here..</h3>

          <input type="search" placeholder="Product name..." name="txtSearch" #txtSearch="ngModel" ngModel required="">
          <br>
          <br>
          <button class="btn btn-info" (click)="sendFilters(filterForm.value)">
            <span class="fa fa-search"></span>
          </button>

        </div>
        <div class="range">
          <h3 class="agileits-sear-head">Price range</h3>
          <ul class="dropdown-menu6">
            <li>
              <div id="slider-range"></div>
              <input type="hidden" id="minPriceRange" value="{{minPrice}}">
              <input type="hidden" id="maxPriceRange" value="{{maxPrice}}">
              <input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
              <br>
              <button class="btn btn-info" (click)="sendFilters(filterForm.value)">
                <span class="fa fa-search"></span>
              </button>
            </li>
          </ul>
        </div>

        <div class="left-side" *ngFor="let filter of filtersData">
          <h3 class="agileits-sear-head">{{filter.PropertyName}}</h3>
          <select class="form-control" id="{{filter.CategoryPropertyID}}" name="{{filter.CategoryPropertyID}}" ngModel (change)="sendFilters(filterForm.value)">
            <option value="">Select {{filter.PropertyName}}</option>
            <option *ngFor="let value of filter.Values" value="{{value}}">{{value}}</option>
          </select>
        </div>
        <br>
        <input type="reset" class="btn btn-warning" (click)="resetFilters();" value="Reset Filters" >
      </form>
    </div>
    <!-- product right -->
    <div class="left-ads-display col-md-9">
      <div class="wrapper_top_shop">
        <div class="clearfix"></div>
        <!-- product-sec1 -->
        <div class="product-sec1">
          <div class="col-md-12 text-center" id="divNotFound" style="display: none;">
            <h1>Ooops! No products found.</h1>
          </div>
          <!--/mens-->
          <div class="col-md-4 product-men" *ngFor="let p of product">
            <div class="product-shoe-info shoe">
              <div class="men-pro-item">
                <div class="men-thumb-item">
                  <img class="img-responsive" src="{{env}}/assets/ProductImages/{{ p['image'][0]['image'] }}" alt="" style="height: 270px !important;">
                  <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                      <a routerLink="/product" [queryParams]="{ProdID: p.ProductID}" class="link-product-add-cart">Quick View</a>
                    </div>
                  </div>
                </div>
                <div class="item-info-product">
                  <h4 style="max-height: 35px; min-height: 35px;">
                    <a style="word-break: break-all;">{{ p.ProductName }}</a>
                  </h4>
                  <div class="info-product-price">
                    <div class="grid_meta">
                      <div class="product_price">
                        <div class="grid-price ">
                          <span class="money" *ngIf="p.FinalPrice === 0">&#8377; {{ p.Price }}</span>
                          <span class="money" *ngIf="p.FinalPrice !== 0">&#8377; {{ p.FinalPrice }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="shoe single-item hvr-outline-out">
                      <form action="#" method="post">
                        <button class="shoe-cart pshoe-cart" (click)="addToCart(p.ProductID);">
                          <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- footer -->

<app-footer></app-footer>
