<app-header>
</app-header>



<div class="mid_slider_w3lsagile" style="width: 100%;">
  <div class="col-md-3 mid_slider_text">
    <h5>Recommend for you</h5>
  </div>
  <div class="col-md-9 mid_slider_info">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="n++" class=""></li>

      </ol>
      <div class="carousel-inner" role="listbox" *ngFor="let x of MostSoldProduct; let i = index; ">
        <div class="item" [ngClass]="{'active': (i===0)}">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3 slidering" *ngFor="let y of x;">
              <div class="thumbnail image-container">
                <a routerLink="/product" [queryParams]="{'ProdID': y.ProductID}">
                  <img src="{{env}}assets/ProductImages/{{ y['image'] }}" alt="Image" style="max-width:100%; height: 250px;">
                </a>
                <h3 class="text-center overlay-text" *ngIf="y['FinalPrice'] === 0">&#8377; {{ y['Price'] }}</h3>
                <h3 class="text-center overlay-text" *ngIf="y['FinalPrice'] !== 0">&#8377; {{ y['FinalPrice'] }}</h3>

              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>


    </div>
  </div>

  <div class="clearfix"> </div>
</div>

<div class="grids_sec_2" style="border-top: 5px solid white; border-bottom: 5px solid white">
  <div class="style-grids_main" style="width: 100%">
    <div class="col-md-4 grids_sec_2_left" *ngFor="let x of TopCategoty; let i = index;">
        <div class="style-image-2" *ngIf="i === 1">
            <img src="{{env}}Assets/CategoryImages/{{x.CategoryImage}}" alt="{{x.CategoryImageAlt}}" style="height: 200px; width: 250px;">
            <!-- <div class="style-grid-2-text">
              <h3>Air force</h3>
            </div> -->
          </div>
      <div class="grid_sec_info" [ngClass]="{'last': (i===1)}" style="height: 400px;">
        <div class="style-grid-2-text_info">
          <h3>{{x.CategoryName}}</h3>
          <p>{{x.CategoryDesc.substr(0,150) }}</p>
          <div class="shop-button">
            <a routerLink="/shop" [queryParams]="{id: x.CategoryID}">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="style-image-2" *ngIf="i !== 1">
        <img src="{{env}}Assets/CategoryImages/{{x.CategoryImage}}" alt="{{x.CategoryImageAlt}}" style="height: 200px; width: 250px;">
        <!-- <div class="style-grid-2-text">
          <h3>Air force</h3>
        </div> -->
      </div>
    </div>
    
    <div class="clearfix"></div>
  </div>
</div>

<div class="mid_slider_w3lsagile" style="width: 100%;">
  <div class="col-md-3 mid_slider_text">
    <h5>Deal For The Day</h5>
  </div>
  <div class="col-md-9 mid_slider_info">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="n++" class=""></li>

      </ol>
      <div class="carousel-inner" role="listbox" *ngFor="let x of MostDiscounttedProduct; let i = index; ">
        <div class="item" [ngClass]="{'active': (i===0)}">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3 slidering" *ngFor="let y of x;">
              <div class="thumbnail image-container">
                <a routerLink="/product" [queryParams]="{'ProdID': y.ProductID}">
                  <img src="{{env}}assets/ProductImages/{{ y['image'] }}" alt="Image" style="max-width:100%; height: 250px;">
                </a>
                <h3 class="text-center overlay-text" *ngIf="y['Discount']['Type'] === '1'">Flat &#8377; {{ y['Discount']['Flat'] }}</h3>
                <h3 class="text-center overlay-text" *ngIf="y['Discount']['Type'] === '2'">{{ y['Discount']['Percentage'] }}% OFF</h3>

              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>


    </div>
  </div>

  <div class="clearfix"> </div>
</div>


<app-footer></app-footer>